# Ignore virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Data files
*.csv
*.db

# macOS
.DS_Store
dashboard/main.py
data/.idea/
src/.idea/
.idea/
dashboard/main.py
data/.idea/
src/.idea/
